/* * {
  margin: 0;
} */

body {
  margin: 0 30px;
}

h1#main-title {
  text-decoration: underline;
}

h1,
em,
span {
  color: #f72585;
}
h2 {
  color: #b5179e;
}
h3 {
  color: #7209b7;
}
section h2:first-child {
  text-decoration: underline;
}
section {
  margin-top: 53px;
}
.highlight {
  color: white;
  background-color: #7209b7;
  display: inline-block;
  padding: 0 5px;
  text-align: center;
}
span.highlight {
  background-color: #c77dff;
}
em.highlight {
  background-color: #f72585;
}

.notebox {
  border: 2px solid #884ab2;
  padding: 10px;
  margin: 10px 0;
}
.notebox.alert {
  border-color: #f38f64;
  background-color: #f38f64;
  color: white;
}
.notebox.warning {
  border-color: #d80000;
  background-color: #d80000;
  color: white;
}
