body {
  background-color: #fdf0d5;
  font-weight: 600;
  width: 63%;
  margin: 0 auto;
  text-align: justify;
  color: #2e3583;
}
article ul {
  margin: 0;
}

article > section {
  margin: 60px 0;
}
article a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}
article a:hover,
article a:focus {
  color: #70ccde;
}
h1 {
  text-align: center;
  color: #e85d04;
  font-size: 27px;
}
h2,
h3 {
  color: #780000;
  font-weight: 700;
}
img {
  width: 150px;
}
.article-with-image {
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
.article-with-image img {
  flex: 1;
}
.article-with-image p {
  margin: 0 22px 0 0;
}
.cars {
  line-height: 1.7;
}
