/* Type and text */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  font: 1.2em / 1.5 system-ui;
  margin: 0 auto;
}

h1 {
  /* font-size: 2em; */
  font-size: calc(1em + 1.1vw);
}

h2 {
  /* font-size: 1.5em; */
  font-size: calc(0.69em + 0.9vw);
}

a {
  color: red;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Styling the pane */

.pane {
  height: 100%;
  width: clamp(480px, 60%, 1000px);
  margin: 0 auto;
}

h1,
.controls {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
div.controls {
  height: 100px;
}
h1::before {
  content: "📖";
  margin-right: 20px;
}
.content {
  /* height: calc(100% - 200px); */
}
section,
.content {
  padding: 0 20px;
}
.controls {
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

button {
  flex: 1;
  height: 100%;
  font-size: 1.2em;
}

img {
  max-width: 90%;
  margin: 0 auto;
}
  