#main {
  width: 70%;
  margin: 100px auto;
}
.centered {
  display: block;
  margin: auto;
}
.logo {
  width: 222px;
  display: block;
  margin-bottom: 17px;
}

.search-field {
  width: 538px;
  height: 33px;
  border: 1px solid gainsboro;
  border-radius: 25px;
  padding: 5px 40px;
}

#search-btns {
  margin-top: 29px;
  display: flex;
  justify-content: space-evenly;
  width: 364px;
}

.btn {
  background-color: #f7f2f2;
  border: none;
  border-radius: 2px;
  color: #545353;
  padding: 8px 20px;
  /* margin-right: 10px; */
  font-size: 15px;
}
#feeling-lucky-btn {
  margin: 0;
}
