* {
  margin: 0;
  box-sizing: border-box;
  /* flex: 2; */
}
body {
  min-height: 100vh;
  font-size: x-large;
}
header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
  /* color: ghostwhite; */
}
.logo {
  font-size: xx-large;
  width: 13%;
  display: flex;
  /* align-items: center; */
  justify-content: start;
}
.logo-icon {
  height: 56%;
  color: green;
}
.logo-text {
  /* font-size: large; */
  font-weight: 800;
}
.logo-text span {
  color: green;
}

.header .nav ul {
  display: flex;
  justify-content: space-between;
  width: 612px;
  font-size: 20px;
  list-style-type: none;
}
.header .nav ul a {
  display: inline-flex;
  justify-content: center;
  width: 78px;
  /* color: black; */
  height: 42px;
}
header nav a:focus,
.active {
  border-bottom: 3px solid green;
  color: green;
}
header a:hover {
  text-decoration-thickness: 3px;
  color: green;
}

.btn-primary {
  background-color: #6c8d4f;
  color: white;
}
.btn-secondary {
  background-color: #f2f8ef;
  color: #6c8d4f;
  border: 2px solid;
}
.btn {
  /* width: 149px; */
  padding: 12px 28px;
  /* height: 56px; */
  font-weight: 700;
  font-size: smaller;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px 0;
  /* padding: 0px 0; */
  /* background-color: #52901a; */
}
.hero {
  background-color: #f2f8ef;
  display: flex;
  justify-content: center;
  height: 500px;
}
.hero-content {
  /* align-items: center; */
  /* font-size: x-large; */
}
.hero-buttons {
  padding-right: 191px;
  width: 94%;
  display: flex;
  justify-content: space-between;
}
.hero-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}
.description {
  /* margin: 26px 0; */
  line-break: loose;
}
.subtitle {
  color: #52901a;
  /* margin-bottom: 6px; */
  font-size: 19px;
  font-weight: bold;
}
h1 {
  font-weight: 900;
  font-size: 64px;
}
.hero-image {
  height: 90%;
  width: 50%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 28px;
}
.feature-card {
  display: flex;
  justify-content: space-between;
  width: 420px;
  height: 166px;
  margin-top: 21px;
  align-items: flex-start;
}
.feature-icon {
  width: 82px;
  height: 79px;
  background-color: #f2f8ef;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0px 29px; */
  border-radius: 16px;
}
.feature-text {
  justify-content: start;
  padding: 0;
  width: 309px;
  height: 211px;
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;
  justify-content: center;
  background-color: black;
  /* color: white; */
}
.footer-content {
  color: ghostwhite;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}
a,
h1 {
  text-decoration: none;
  color: inherit;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 14%;
}
.fa-solid {
  color: green;
}
h3 + p {
  margin-top: 10px;
}
.feature-icon img {
  filter: invert(48%) sepia(79%) hue-rotate(86deg) brightness(118%)
    contrast(119%);
}
.logo-icon img {
  filter: invert(48%) sepia(79%) hue-rotate(86deg) brightness(118%)
    contrast(119%);
}
.icon {
  width: 38px;
}
