body {
  /* margin: 0; */
}
#flags-container {
  border: 1px black solid;
  height: 210px;
}
.flags {
  width: 500px;
  height: 70px;
}
#first-flag {
  background-color: red;
}
/* #second-flag-container {
  display: flex;
  align-items: center;
} */
#second-flag {
  background-color: blue;
  height: 35px;
}
#third-flag {
  background-color: green;
}
